absl-py==0.10.0
asn1crypto==0.24.0
astor==0.8.0
astunparse==1.6.3
attrs==19.1.0
backcall==0.1.0
bleach==3.1.4
boltons==20.2.1
cachetools==4.2.0
certifi==2020.12.5
cffi==1.13.2
chardet==3.0.4
click==7.1.2
contextlib2==0.6.0.post1
cryptography==2.3
cycler==0.10.0
dataclasses==0.8
debtcollector==2.2.0
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.3
dit==1.2.3
-e git+https://github.com/WM-CSCI-435-F19/ds4se.git@72ed9f13126962c46a735e4d212818078f551274#egg=ds4se
entrypoints==0.3
enum34==1.1.6
fastscript==0.1.2
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gensim==3.8.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
h5py==2.10.0
idna==2.6
importlib-resources==3.3.0
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.15.1
Jinja2==2.10.1
joblib==1.0.0
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter-http-over-ws==0.0.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
nbconvert==5.6.0
nbdev==0.2.3
nbformat==4.4.0
networkx==2.5
nltk==3.5
notebook==6.0.1
numpy==1.19.4
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==19.2
pandas==1.0.3
pandocfilters==1.4.2
parso==0.5.1
pbr==5.5.1
pexpect==4.7.0
pickleshare==0.7.5
prettytable==2.0.0
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.9
protobuf==3.14.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pycrypto==2.6.1
pyemd==0.5.1
Pygments==2.4.2
pygobject==3.26.1
pyparsing==2.4.2
pyrsistent==0.15.4
python-apt==1.6.4
python-dateutil==2.8.0
pytz==2019.3
pyxdg==0.25
PyYAML==5.2
pyzmq==18.1.0
qtconsole==4.5.4
regex==2020.11.13
requests==2.25.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
SecretStorage==2.3.1
Send2Trash==1.5.0
sentencepiece==0.1.85
six==1.15.0
sklearn==0.0
smart-open==4.0.1
tb-nightly==1.15.0a20190806
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow-datasets==4.1.0
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.0
tensorflow-metadata==0.26.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf-estimator-nightly==1.14.0.dev2019080601
threadpoolctl==2.1.0
tokenizer==2.4.0
tokenizers==0.9.4
tornado==6.0.3
tqdm==4.54.1
traitlets==4.3.2
typing-extensions==3.7.4.3
urllib3==1.26.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.4.0
