bitarray==2.7.4
Cython==0.29.35
datasets==2.12.0
hydra-core==1.0.7
nbdev==2.3.12
omegaconf==2.0.6
pandas
scipy
numpy
datasets >= 1.8.0
sentencepiece != 0.1.92
protobuf
bitarray
transformers==4.18.0
tree-sitter==0.20.1
seaborn
huggingface
sacrebleu==1.5.1
dowhy