body {
	margin: 0px;
	padding: 0px;
	background-color: #CECECE;
}

a {
	color: #0066CC;
	font-size: 14px;
}

input:focus {
	border: 2px solid #CB9949;
}


/* Formated table stuff */
.fTable {
	border: 1px solid black;
	border-collapse: collapse;
}

.fTable tr {
	border: 1px solid black;
}

.fTable tr th {
	border: 1px solid black;
	background-color: silver;
	font-size: 16px;
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
}

.fTable tr td {
	border: 1px solid black;
	font-size: 16px;
	padding-left: 4px;
	padding-right: 4px;
}

.fTable .subHeader td {
	background: #EEEEFF;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

.fTable .subHeader th {
	background: #EEEEFF;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

.fTable .subHeaderVertical {
	background: #EEEEFF;
	font-weight: bold;
	text-align: left;
}

/* General iTrust classes */
.iTrustContent {
	background-color: #DDDDDD;
	background-repeat: repeat-x;
	float: left; 
	width:88%;
	padding: 10px;
	min-width: 650px;
	overflow: auto;
}

.iTrustError {
	color: #FF0000;
	font-weight: bold;
}

.iTrustHeader {
	background-image: url('/iTrust/image/new/header_back.png');
	background-repeat: repeat-x;
	height: 85px;
	width: 100%;
	min-width: 1000px;
	margin: 0px;
	padding: 0px;	
}

.iTrustMain {
	background-color: #CECECE;
	background-image: url('/iTrust/image/new/back.png');
	background-repeat: repeat-x;
	min-height: 500px;
	min-width: 1000px;
}

.leftBorder, .rightBorder {
	float: left;
	width: 5%;
	min-width: 20px;
	min-height: 50px;
	height: 100%;
	background-repeat: repeat-y;
		
}

.leftBorder {
	background-image: url('/iTrust/image/new/left_g.png');
	background-position: right;
}

.rightBorder {
	background-image: url('/iTrust/image/new/right_g.png');
	background-position: left;
}

.iTrustFooter {
	border-top: 1px solid #336699;
	margin-top: 10px;
	min-width: 1000px;
}

.iTrustMenu {
	position: absolute;
	margin-left: -186px;
	float: left; 
	width: 210px;
}

.iTrustMenuContents {
	background-image: url('/iTrust/image/new/menu_back.png');
	background-repeat: repeat-y;
	min-height: 80px;
}

.iTrustMenu a {
	color: 336699;
	font-weight: normal;
	font-size: 14px;
	padding-top: 5px;
	text-decoration: underline;
}

#menuPic {
	position: absolute;
	top: 40px;
	left:188px;	
}

.iTrustMenu input {

}

.iTrustMessage {
	color: #00AA88;
	font-weight: bold;
}

.filterEdit {
	border: 2px solid #292929;
	padding: 10px;
	background-color: silver;	
}

/* Calendar Formatting */
#calendarTable {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse:collapse;
}

#calendarTable td, #calendarTable th {
	font-size:1em;
	background-color: #FFFFFF;
	border:1px solid #4F708D;
	padding:3px 7px 2px 7px;
}

#calendarTable tr th {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #4F708D;
	color: #FFFFFF;
}

#calendarTable tr td {
	height: 100px; 
	min-width: 120px;
	width: 150px;
	background-color: #EEEEEE;
}

#calendarTable tr td div.cell {
	height: 100px;
	min-width: 120px;
	width: 100%;
	vertical-align: top;
	overflow: auto;
}

#calendarTable tr td.today {
	background-color: #CCCCFF;
}

#calendarTable .calendarEntry {
	padding: 5px 0px 0px 5px;
	font-size: 14px;
}

#calendarTable .conflict {
	font-weight: bold;
}

#calendarTable .calendarEntry a {
	font-size: 12px;
}
/* Transaction Page */

.transactionForm .right{
	text-align: right;
}

.transactionForm .left{
	text-align: left;
}

.transactionForm .center{
	text-align: center;
}

#transactionTable {
	margin-top: 5px;	
}

.transactionChart .yaxis {
	vertical-align: 100px;	
}

.fancyTable {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}

.fancyTable td, .fancyTable th {
	font-size:1em;
	background-color: #FFFFFF;
	border:1px solid #4F708D;
	padding:3px 7px 2px 7px;
}

.fancyTable th {
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#4F708D;
	color:#ffffff;
}

.fancyTable tr.alt td {
	color:#000000;
	background-color:#DDDDFF;
}

/* Menu formatting */
.menu_category {
	padding-bottom: 5px;
	padding-left: 20px;
	width: 160px;
}
			
.menu_category a {
	font-size: 14px;
	color: #0066DD;
	text-decoration: none;
}

.menu_category a:hover {	
	text-decoration: underline;
}

.menu_category span {
	font-size: 16px;
	font-weight: bold;
}

/* Main navigation formatting */
.iTrustNav {
	border-bottom: 2px solid #47657F;
	height: 20px;
	padding-top: 20px;
}

.iTrustNavlink {
	color: #0066CC;
	font-size: 11pt;
	text-decoration: none;
}

/* These links are only for testing purposes and are indicated such */
a.iTrustTestNavlink {
	color: #DD3300;
	text-decoration: none;
}

.iTrustPage {
	padding-left: 30px;
	overflow: hidden;
	min-width: 1000px;
	border-bottom: 4px solid #292929;
}
